<!DOCTYPE html>
<html>
<title>Recipes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">
        <span>X</span>
    </a>
    <a href="/?localeData=en" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="usFlag.png" class="w3-image" width="50" alt="us">
        <span th:text="#{mainpage.english_us}"></span>
    </a>
    <a href="/?localeData=en_GB" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="gbFlag.png" class="w3-image" width="50" alt="gb">
        <span th:text="#{mainpage.english_gb}"></span>
    </a>
    <a href="/?localeData=en_MT" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="mtFlag.png" class="w3-image" width="50" alt="mt">
        <span th:text="#{mainpage.english_mt}"></span>
    </a>
    <a href="/?localeData=it" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="itFlag.png" class="w3-image" width="50" alt="it">
        <span th:text="#{mainpage.italian}"></span>
    </a>
    <a href="/?localeData=pt" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="ptFlag.png" class="w3-image" width="50" alt="pt">
        <span th:text="#{mainpage.portuguese}"></span>
    </a>
    <a href="/?localeData=pt_BR" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="brFlag.png" class="w3-image" width="50" alt="br">
        <span th:text="#{mainpage.portuguese_br}"></span>
    </a>
    <a href="/?localeData=es" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="esFlag.png" class="w3-image" width="50" alt="es">
        <span th:text="#{mainpage.spanish}"></span>
    </a>
    <a href="/?localeData=ro_RO" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="roFlag.png" class="w3-image" width="50" alt="ro">
        <span th:text="#{mainpage.romanian}"></span>
    </a>
    <a href="/?localeData=hr" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="hrFlag.png" class="w3-image" width="50" alt="hr">
        <span th:text="#{mainpage.croatian}"></span>
    </a>
    <a href="/?localeData=el_GR" onclick="w3_close()" class="w3-bar-item w3-button">
        <img src="elFlag.png" class="w3-image" width="50" alt="el">
        <span th:text="#{mainpage.greek}"></span>
    </a>
</nav>

<!-- Top menu -->
<div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
        <div class="w3-right w3-padding-16" th:text="#{mainpage.mail}"></div>
        <div class="w3-center w3-padding-16" th:text="#{mainpage.myfood}"></div>
    </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-half">
            <img src="sandwich.jpg" alt="sandwich" style="width:100%">
            <h3 th:text="#{mainpage.tunamelt}"></h3>
            <ul style="list-style-position: inside;">
                <li th:text="#{mainpage.tunamelt.ingredient1}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient2}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient3}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient4}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient5}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient6}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient7}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient8}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient9}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient10}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient11}"></li>
                <li th:text="#{mainpage.tunamelt.ingredient12}"></li>
            </ul>
            <p th:text="#{mainpage.tunamelt.method1}"></p>
            <p th:text="#{mainpage.tunamelt.method2}"></p>
            <p th:text="#{mainpage.tunamelt.method3}"></p>
            <p th:text="#{mainpage.tunamelt.method4}"></p>
        </div>
        <div class="w3-half">
            <img src="harissa.jpg" alt="harissa" style="width:100%">
            <h3 th:text="#{mainpage.harissa}"></h3>
            <ul style="list-style-position: inside;">
                <li th:text="#{mainpage.harissa.ingredient1}"></li>
                <li th:text="#{mainpage.harissa.ingredient2}"></li>
                <li th:text="#{mainpage.harissa.ingredient3}"></li>
                <li th:text="#{mainpage.harissa.ingredient4}"></li>
                <li th:text="#{mainpage.harissa.ingredient5}"></li>
                <li th:text="#{mainpage.harissa.ingredient6}"></li>
                <li th:text="#{mainpage.harissa.ingredient7}"></li>
                <li th:text="#{mainpage.harissa.ingredient8}"></li>
                <li th:text="#{mainpage.harissa.ingredient9}"></li>
                <li th:text="#{mainpage.harissa.ingredient10}"></li>
                <li th:text="#{mainpage.harissa.ingredient11}"></li>
            </ul>
            <p th:text="#{mainpage.harissa.method1}"></p>
            <p th:text="#{mainpage.harissa.method2}"></p>
            <p th:text="#{mainpage.harissa.method3}"></p>
        </div>
    </div>

    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3 th:text="#{mainpage.aboutus}"></h3><br>
        <img src="chefs.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
            <h4><b th:text="#{mainpage.quote}"></b></h4>
            <h6><i th:text="#{mainpage.passion}"></i></h6>
            <p th:text="#{mainpage.aboutus.desc}"></p>
        </div>
    </div>
    <hr>

    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>
